.bg-trans{
    background: transparent!important;
}
@media (min-width: 768px){

    .navbar-expand-md .navbar-collapse {
        display: -webkit-box!important;
        display: flex!important;
        flex-basis: auto;
        justify-content: flex-end;
    }   
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #e4e3df;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-success, .btn-outline-success:hover,.btn-outline-success:active{
border:0;
background: url('../../assets/images/search.png') center no-repeat;
position: absolute;
    right: 11px;
}

.form-control.mr-sm-2{
    font-size: 12px;
    min-width: 200px;
    border-radius: 9px;
    -webkit-box-shadow: 2px 1px 4px -1px rgba(97,96,97,1);
    -moz-box-shadow: 2px 1px 4px -1px  rgba(97,96,97,1);
    box-shadow: 2px 1px 4px -1px rgba(97,96,97,.6);
    color: #9b9b9b;
}
#header-side-navs{
    list-style-type: none;    display: flex;
}

#header-side-navs li{  display: inline-flex;
padding: 0 14px;
font-size: 12px;
align-items: center;
}
#navbarsExampleDefault{
    position: relative;top: -6px;    right: -24px;
}

#header-side-navs li.dotted-border{border-left: 1px dotted #626162;}
#header-side-navs li.solid-border{border-left: 1px solid #626162;}
.navbar-brand.logo img{
    max-width: 300px
}
