<div id="explorer-section">
  <div class="default-header">
    <h2>Explore the World with the Best Flights
      </h2>
    <p>Stop, buy domestic and international flights
      </p>
   </div> 
  <div class="wrapper">
      <article class="main">
        <p>
          Switzerland
        </p> 
      </article> 
      <article class="aside"> 

      <aside class=" aside-1" style="margin-right: 15px;"><p>Aside 1 </p></aside>
      <aside class=" aside-2"  style="margin-right: 15px;"><p>Aside 2 </p></aside>
   </article>
   <article class="aside"> 

      <aside class=" aside-1"><p>Aside 1 </p></aside>
      <aside class=" aside-2"><p>Aside 2 </p></aside>
   </article>
    </div>
    <div class="wrapper lower-section" style="margin-top:20px;">
        <article class="main big-image">
          <p>
            Switzerland
          </p> 
        </article> 
        <article class="aside aside-left"> 
  
        <aside class=" aside-1" style="margin-left: 15px;"><p>Aside 1 </p></aside>
        <aside class=" aside-2"  style="margin-left: 15px;"><p>Aside 2 </p></aside>
     </article>
     <article class="aside aside-right"> 
  
        <aside class=" aside-1 "><p>Aside 1 </p></aside>
        <aside class=" aside-2"><p>Aside 2 </p></aside>
     </article>
      </div>

</div>