.list-group-item{
    flex: 1 auto;
    background: rgba(0, 0, 0, 0.50);
    padding: 1.8em;
}
.nav.nav-pills.flex-column .nav-item{
max-width: 200px;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  main .jumbotron{
    background-image: url("../../assets/images/header_bg.png");
    background-size: cover;
  }
 
label a{
  color: #ffffff;
}
.jumbotron .list-group-item{
  margin-top: 0;
  padding-top: 0;
}

main .jumbotron ul.nav-pills.flex-column{

  border-top-left-radius: 5px!important;

}
.jumbotron .list-group-item:first-of-type{   
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   border-bottom-left-radius: 5;
   border-bottom-right-radius: 5;
}

.list-group-horizontal .list-group-item:last-child{
  border-bottom-right-radius:.25rem;
  border-bottom-left-radius: .25rem;
}
.jumbotron  .nav-link {
  display: block;
  padding: .5rem 1rem;
  padding-bottom: 0px;
}
