<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center" class="container">
  <app-special-offers></app-special-offers>
  <app-cheap-flights></app-cheap-flights>
  <app-explore-world></app-explore-world>
  </div> 
   <section class="trn-content-signup">
      <h2>Sign Up and Benefit from Advantages!</h2>
  <a id="lnk-forgat-signup" href="javascript:void(0)" popup="#modal-signup" class="trn-click btn-signup"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sign Up Now</font></font></a>
</section>
  <div style="text-align:center" class="container">

 <app-sign-up-benefits></app-sign-up-benefits>
</div>
<router-outlet></router-outlet>
