<div id="cheap-flights-section">
<h2>We Found Ways to Make Cheap Flights  </h2>
<p>Meet the features we've developed to fly even cheaper, even for free
  </p>

<div class="row card-cheap-flights">
    <div class="col-sm-3">
      <div class="card card-i">
        <div class="card-body">
            <img src="../../assets/images/brain.png">
          <h5 class="card-title"> Smart Flight® What if it's cheaper</h5>
          <p class="card-text">to fly on different routes to your destination? Don't settle for the route everyone goes!
            </p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-i">
            <div class="card-body">
                <img src="../../assets/images/brain.png">
              <h5 class="card-title"> Smart Flight® What if it's cheaper</h5>
              <p class="card-text">to fly on different routes to your destination? Don't settle for the route everyone goes!
                </p>
              
            </div>
          </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-i">
            <div class="card-body">
                <img src="../../assets/images/brain.png">
              <h5 class="card-title"> Smart Flight® What if it's cheaper</h5>
              <p class="card-text">to fly on different routes to your destination? Don't settle for the route everyone goes!
                </p>
              
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card card-i">
              <div class="card-body">
                  <img src="../../assets/images/brain.png">
                <h5 class="card-title"> Smart Flight® What if it's cheaper</h5>
                <p class="card-text">to fly on different routes to your destination? Don't settle for the route everyone goes!
                  </p>
                
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card card-i">
              <div class="card-body">
                  <img src="../../assets/images/brain.png">
                <h5 class="card-title"> Smart Flight® What if it's cheaper</h5>
                <p class="card-text">to fly on different routes to your destination? Don't settle for the route everyone goes!
                  </p>
                
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card card-i">
            <div class="card-body">
                <img src="../../assets/images/brain.png">
              <h5 class="card-title"> Smart Flight® What if it's cheaper</h5>
              <p class="card-text">to fly on different routes to your destination? Don't settle for the route everyone goes!
                </p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-i">
                <div class="card-body">
                    <img src="../../assets/images/brain.png">
                  <h5 class="card-title"> Smart Flight® What if it's cheaper</h5>
                  <p class="card-text">to fly on different routes to your destination? Don't settle for the route everyone goes!
                    </p>
                  
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card card-i">
                <div class="card-body">
                    <img src="../../assets/images/brain.png">
                  <h5 class="card-title"> Smart Flight® What if it's cheaper</h5>
                  <p class="card-text">to fly on different routes to your destination? Don't settle for the route everyone goes!
                    </p>
                  
                </div>
              </div>
          </div>
          <div class="col-sm-3">
              <div class="card card-i">
                  <div class="card-body">
                      <img src="../../assets/images/brain.png">
                    <h5 class="card-title"> Smart Flight® What if it's cheaper</h5>
                    <p class="card-text">to fly on different routes to your destination? Don't settle for the route everyone goes!
                      </p>
                    
                  </div>
                </div>
          </div>
          <div class="col-sm-3">
              <div class="card card-i">
                  <div class="card-body">
                      <img src="../../assets/images/brain.png">
                    <h5 class="card-title"> Smart Flight® What if it's cheaper</h5>
                    <p class="card-text">to fly on different routes to your destination? Don't settle for the route everyone goes!
                      </p>
                    
                  </div>
                </div>
          </div>
  </div>
</div>