<section id="section-member" class="trn-content">

    <div class="trn-default-header">
        <h2>  Sign Up for Free Flights and Other Benefits   </h2>
        <p class="trn-default-header-subtitle">  More tips, upgrade your membership level, more discounted tips   </p>
    </div>
    <div class="trn-default-content">
        <div class="trn-member-table">
            <a target="_blank" href="/sss-uyelik" class="btn-more-info">
                <ul class="column info">
                    <li class="top">&nbsp;</li>
                    <li>  You will earn Crane Points from all transactions and you will get discounted / free fly with points.    </li>
                    <li>  You earn 10% extra points on the actions of your invited friend   </li>
                    <li>  The value of points is multiplied by 1 point = 1.1 TL instead of 1 point = 1 TL.   </li>
                    <li class="bottom">  Earn 500 pounds worth of extra Crane Points.    </li>
                </ul>
                <ul class="column orange-1">
                    <li class="caption">
                        <span class="member">  NORMAL    </span>
                        <span>  (as a member)   </span>
                    </li>
                    <li><div class="icon-tick trn-sprt-logo-white"></div></li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
                <ul class="column orange-2">
                    <li class="caption">
                        <span class="member">  ELITE    </span>
                        <span>  (When Spending the First Score)   </span>
                    </li>
                    <li><div class="icon-tick trn-sprt-logo-white"></div></li>
                    <li><div class="icon-tick trn-sprt-logo-white"></div></li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
                <ul class="column orange-3">
                    <li class="caption">
                        <span class="member">  ELITE +    </span>
                        <span>  (when collected 1,000 points in a year)   </span>
                    </li>
                    <li><div class="icon-tick trn-sprt-logo-white"></div></li>
                    <li><div class="icon-tick trn-sprt-logo-white"></div></li>
                    <li><div class="icon-tick trn-sprt-logo-white"></div></li>
                    <li>&nbsp;</li>
                </ul>
                <ul class="column orange-4">
                    <li class="caption">
                        <span class="member">  PREMIUM    </span>
                        <span>  (when collected 2,500 points during the year)   </span>
                    </li>
                    <li><div class="icon-tick trn-sprt-logo-white"></div></li>
                    <li><div class="icon-tick trn-sprt-logo-white"></div></li>
                    <li><div class="icon-tick trn-sprt-logo-white"></div></li>
                    <li><div class="icon-tick trn-sprt-logo-white"></div></li>
                </ul>
            </a>
        </div>
    </div>
</section>
<section class="trn-content">
    <div class="trn-default-content">
        <ul class="popular-city-airline">
            

    <li class="first-li">
        <h3 class="circular-medium">  Domestic Flights   </h3>
        <ul class="links-wrapper">
                <li class="links">
                    <a href="/ucak-bileti/istanbul" title="Flights to Istanbul">  
                        Istanbul
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/izmir" title="Izmir Special Offers">  
                        Izmir
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/ankara" title="Flights to Ankara">  
                        Ankara
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/adana" title="Adana Special Offers">  
                        Adana
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/antalya" title="Flights to Antalya">  
                        Antalya
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/bodrum" title="Bodrum Special Offers">  
                        Basement
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/diyarbakir" title="Flights to Diyarbakir">  
                        Diyarbakir
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/dalaman" title="Flights to Dalaman">  
                        Dalaman
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/trabzon" title="Trabzon Special Offers">  
                        Trabzon
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/canakkale" title="Flights to Canakkale">  
                        Canakkale
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/gaziantep" title="Gaziantep Flights">  
                        Gaziantep
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/adiyaman" title="Flights to Adiyaman">  
                        Adiyaman
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/kayseri" title="Flights to Kayseri">  
                        Kayseri
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/erzurum" title="Erzurum Special Offers">  
                        Erzurum
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/van" title="Van Special Offers">  
                        Van
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/denizli" title="Denizli Special Offers">  
                        Denizli
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/samsun" title="Samsun Special Offers">  
                        mastiff
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/konya" title="Flights to Konya">  
                        Konya
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/sivas" title="Sivas Special Offers">  
                        Sivas
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/erzincan" title="Erzincan Flights">  
                        Erzincan
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/ordu-giresun" title="Ordu-Giresun Flights">  
                        Ordu-Giresun
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/kars" title="Kars Special Offers">  
                        Kars
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/sanliurfa" title="Sanliurfa Flights">  
                        Sanliurfa
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/hatay" title="Hatay Flights">  
                        Hatay
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/elazig" title="Flights to Elazig">  
                        Elazig
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/malatya" title="Flights to Malatya">  
                        Malatya
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/lefkose" title="Flights to Nicosia">  
                        Nicosia
                       </a>
                </li>
        </ul>
    </li>

            

    <li class="next-li second-li">
        <h3 class="circular-medium">  Overseas Flights   </h3>
        <ul class="links-wrapper">
                <li class="links">
                    <a href="/ucak-bileti/kiev" title="Kiev Flights">  
                        Kiev
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/dubai" title="Dubai Special Offers">  
                        Dubai
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/amsterdam" title="Amsterdam Special Offers">  
                        Amsterdam
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/paris" title="Flights to Paris">  
                        Paris
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/belgrad" title="Flights to Belgrade">  
                        Belgrade
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/kahire" title="Cairo Special Offers">  
                        Cairo
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/new-york" title="Flights to New York City">  
                        new York
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/londra" title="Flights to London">  
                        London
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/baku" title="Baku Flights">  
                        Baku
                       </a>
                </li>
        </ul>
    </li>

            

    <li class="next-li third-li">
        <h3 class="circular-medium">  Frequent Flying Airlines   </h3>
        <ul class="links-wrapper">
                <li class="links">
                    <a href="/ucak-bileti/thy" title="Turkish Airlines Flights">  
                        Turkish Airlines
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/pegasus" title="Pegasus Flights">  
                        the winged horse
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/anadolujet" title="Flights to Anadolu Jet">  
                        Anadolu Jet
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/sunexpress" title="Flights to SunExpress">  
                        SunExpress
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/atlasglobal" title="Atlasglobal Flights">  
                        AtlasGlobal
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/onurair" title="Onur Air Flights">  
                        Onur Air
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/ukraine-intl-airlines" title="Ukraine Intl Airlines Flights">  
                        Ukraine Intl Airlines
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/saudi-arabian-airlines" title="Flights to Saudi Arabian Airlines">  
                        Saudi Arabian Airlines
                       </a>
                </li>
                <li class="links">
                    <a href="/ucak-bileti/qatar-airways" title="Qatar Airways Flights">  
                        Qatar Airways
                       </a>
                </li>
        </ul>
    </li>

        </ul>
    </div>
</section>
<section class="trn-content" id="world-in-your-palm-section">
    <div class="trn-default-header">
        <h2>  All the world in the palm of your hand with discount flights   </h2>
        <p class="trn-default-header-subtitle">  Discover the cheapest flights in different continents!   </p>
    </div>
    <div class="trn-default-content">
        <div class="continents-widget-wrapper">
            <ul>
                <a class="continent-link" href="/ucak-bileti/avrupa">
                    <li>
                        <figure class="continent-icon">
                            <img src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/continents-widget/continent-icon-eu.png">
                        </figure>
                        <div class="continent-label">  European   </div>
                    </li>
                </a>

                <a class="continent-link" href="/ucak-bileti/afrika">
                    <li>
                        <figure class="continent-icon">
                            <img src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/continents-widget/continent-icon-af.png">
                        </figure>
                        <div class="continent-label">  Africa   </div>
                    </li>
                </a>

                <a class="continent-link" href="/ucak-bileti/asya">
                    <li>
                        <figure class="continent-icon">
                            <img src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/continents-widget/continent-icon-as.png">
                        </figure>
                        <div class="continent-label">  Asia   </div>
                    </li>
                </a>

                <a class="continent-link" href="/ucak-bileti/kuzey-amerika">
                    <li>
                        <figure class="continent-icon">
                            <img src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/continents-widget/continent-icon-na.png">
                        </figure>
                        <div class="continent-label">  Kz.     America   </div>
                    </li>
                </a>

                <a class="continent-link" href="/ucak-bileti/guney-amerika">
                    <li>
                        <figure class="continent-icon">
                            <img src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/continents-widget/continent-icon-sa.png">
                        </figure>
                        <div class="continent-label">  Gn.     America   </div>
                    </li>
                </a>

                <a class="continent-link" href="/ucak-bileti/okyanusya">
                    <li>
                        <figure class="continent-icon">
                            <img src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/continents-widget/continent-icon-oc.png">
                        </figure>
                        <div class="continent-label">  Oceania   </div>
                    </li>
                </a>
            </ul>
        </div>
    </div>
</section>  